<div id="<%= dom_id event %>">
  <p>
    <strong>Company name:</strong>
    <%= event.company_name %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= event.event_name %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= event.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= event.zip_code %>
  </p>

  <p>
    <strong>About:</strong>
    <%= event.about %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= event.website %>
  </p>

</div>
