<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col-md-2">
      One of three columns
    </div>
    <div class="col-md-8 card rounded-3 text-black text-center">
      One of three columns
    </div>
    <div class="col-md-2">
      One of three columns
    </div>
  </div>
</div>