<div class="container-fluid">
	<h1>Pages#index</h1>
	<p>Find me in app/views/pages/index.html.erb</p>

	<h3> Athlete Account</h3>
	<% if athlete_signed_in? %>
		<p><%= link_to "Sign Out", destroy_athlete_session_path, method: :delete, data: { turbo_method: :delete } %></p>
	<% else %>
		<p><%= link_to "Sign Up", new_athlete_registration_path %></p>
		<%= link_to "Sign In", new_athlete_session_path %>
	<% end %>

	<h3> Director Account</h3>
	<% if director_signed_in? %>
		<p><%= link_to "Sign Out", destroy_director_session_path, method: :delete, data: { turbo_method: :delete } %></p>
	<% else %>
		<p><%= link_to "Sign Up", new_director_registration_path %></p>
		<%= link_to "Sign In", new_director_session_path %>
	<% end %>
</div>